h1{
    color: white;
}
h2{
    color: white;
}
h3{
    margin-top: 30px;;
}
.container{
    margin-top: 10px;
}

#weather{
    border: solid black 1px;
}

.card{
margin-top: 20px;
border: 0;
}
.card-body{
    background-color: #343a40;
    border-radius:  10px;
   
}

#previousSearch{
    margin-top: 20px;
}